Source: jboss-eap
Section: unknown
Priority: extra
Maintainer: rualsa <alexsa.msu@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>

Package: jboss-eap
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
