#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/default/jboss-eap"

if [ -e "${CONFFILE}" ]
then
	. ${CONFFILE} || true

	if [ -n "${JBOSS_USER}" ]; then
		db_set jboss-eap/username "${JBOSS_USER}"
	fi

	if [ -n "${JBOSS_GROUP}" ]; then
		db_set jboss-eap/groupname "${JBOSS_GROUP}"
	fi
fi

db_input low jboss-eap/username || true
db_input low jboss-eap/groupname || true
db_go

db_stop
